.myLink {
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.doneList {
    color: green;
    cursor: pointer;
}

.delList {
    color: red;
    cursor: pointer;
}