.MyCheckList {
    width: 700px;
    background-color: rgb(212, 218, 218);
    margin: 18px;
    padding: 18px;
    display: flex;
    flex-direction: column;
}
.MyCheckListText {
    display: flex;
    justify-content: center;
    color: rgb(6, 119, 93);
}